<form method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">ログイン</button>
  </div>
</form>
<!-- <%- debug %> -->