{% extends 'base.html' %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <table class="table">
    <tr {% if form.username.errors %}class="alert alert-danger"{% endif %}>
      <th>{{ form.username.label }}</th>
      <td>{{ form.username.errors }}{{ form.username }}</td>
    </tr>
    <tr {% if form.password.errors %}class="alert alert-danger"{% endif %}>
      <th>{{ form.password.label }}</th>
      <td>{{ form.password.errors }}{{ form.password }}</td>
    </tr>
  </table>
  {{ form.non_field_errors }}
  <button class="btn btn-primary" type="submit">submit</button>
</form>
{% endblock %}