{% load static %}

<!doctype html>
<html lang="ja">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

  <title>メモアプリ</title>

  {% block stylesheet %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="/">メモアプリ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'memo-create' %}">新規作成</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'crawl' %}">{{ user.admin_username }}に{{ user.admin_username }}のメモを確認してもらう</a>
          </li>
        </ul>
      {% endif %}
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{ user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'user' %}">ユーザ情報修正</a>
              <a class="dropdown-item" href="{% url 'logout' %}">ログアウト</a>
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">ユーザ登録</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">ログイン</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container">
    {% block message %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endblock %}
    {% block content %}{% endblock %}
  </div>

  <script src="{% static 'jquery-3.5.1.slim.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  {% block script %}{% endblock %}
</body>

</html>